<html>
  <body>
    <div class="outer-div">
      <div class="image">
        <!--Flaggen Div -->
        <img [src]="srcUrl" [srcset]="srcsetUrl" />
      </div>
      <div style="text-align: center">
        <!-- Eingaben Div-->
        <div
          style="
            display: inline-block;

            vertical-align: middle;
            width: 50%;
            height: 50%;
          "
        >
          <label>Lalala</label><input type="text" name="" id="" /><br />
          <label>Lelele</label><input type="text" name="" id="" />
        </div>
      </div>
    </div>
  </body>
</html>
