<html>
  <body>
    <div class="outer-div">
      <div class="left">
        <!--Flaggen Div -->
        <img [src]="srcUrl" [srcset]="srcsetUrl" />
      </div>
      <div class="right">
        <!-- Eingaben Div-->
        <div class="right2">
          <label>Land</label><input type="text" name="" id="" /> <br />
          <label>Hauptstadt</label><input /><br /><br /><br />
          <div class="box-1">
            <div class="btn btn-one">
              <span>Absenden</span>
            </div>
          </div>
          <mat-form-field>
            <mat-select [formControl]="bankCtrl" placeholder="Land" #singleSelect>
              <mat-option>
                <ngx-mat-select-search [formControl]="bankFilterCtrl"></ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let country of countries" value="country.country">
                {{country.country}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="box-2" style="margin-top: 100px">
            <div class="btn btn-two">
              <span (click)="gn()">Keine Ahnung</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
